<%! from django.utils.translation import ugettext as _ %>
<!-- If JavaScript has been disabled -->
<noscript>
<div id="FrontMsg4JS" style="width:100%; height:100%; background:#fff; top:0; left:0; z-index:9997; position:fixed; font-family:'Helvetica Neue', Helvetica, 'Lucida Grande', Arial, san-serif; text-align:center; font-weight:200;">
	<div id="FrontMsg4JS-MsgBody" style="width:600px; height:200px; top:50%; left:50%; margin:-160px 0 0 -300px; z-index:9998; position:absolute;">
		<span style="font-size:45px; color:rgb(55, 55, 55); line-height:90px;">JavaScript is required.</span><br>
    	<span style="font-size:28px; color:rgb(120, 120, 120); line-height:40px;">To use BIT edx, please enable JavaScript<br>in your browser preferences and try again.</span>
    </div>
    <!-- style share with /browser -->
    <div id="FrontMsg4JS-Copyright" style="width:460px; height:64px; left:50%; bottom:20px; margin-left:-230px; position:absolute; z-index:9999; font-size:12px; color:#949494;">
    	<img src="/static/themes/kmu-bit/images/bitedx-logo-browser@2x.png" width="86" height="32" alt="KMU BIT edx" style="margin-bottom:10px"><br>
        © Kookmin University Graduate School of Business IT. All rights reserved.
    </div>
</div>
</noscript>
<!-- // To here - If JavaScript has been disabled -->